<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <link rel="shortcut icon" href="/pics/favicon.ico" type="image/x-icon">
        
        {% block head %}
            <title>Mayk Brito</title>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/portfolio">Aulas</a>
            </div>
        </header>
        {% block content %}{% endblock %}
        
    </body>
</html>