{% extends "layout.njk" %}

{% block head %}
<title>Error 404 - Mayk Brito</title>
{% endblock %}

{% block content %}
        <div id="wrapper">
            <h1>Error 404</h1>
            <h2>Página não encontrada</h2>
            <p>Para mais informações visite a <a href="https://www.rocketseat.com.br/" target="_blank">Rocketseat</a></p>
        </div>

        <div id="links-footer" class="links">
            <a href="https://github.com/maykbrito/" target="_blank">Github</a>
            <a href="https://twitter.com/maykbrito" target="_blank">Twitter</a>
            <a href="https://www.Linkedin.com/in/maykbrito/" target="_blank">Linkedin</a>
        </div>
    
{% endblock %}